{% load static %}
<ul id="dropdown1" class="dropdown-content">
  <li><a href="/preferences">Profile</a></li>
  <li><a href="/logout">Logout</a></li>
</ul>
<nav>
  <div style="z-index: 2000 !important; box-shadow: 0 1px 5px rgb(0 0 0 / 40%)" id="navbar" class="nav-wrapper brown">
    <a style="margin-left:10px" href="/" class="brand-logo left"><b>awaking</b></a>
    <ul id="nav-mobile" class="right hide-on-down">

      {% if user.is_authenticated %}
      {% else %}
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Register</a></li>
      {% endif %}
      {% if user.is_authenticated %}
          <li><a class="dropdown-trigger" data-target="dropdown1">{{user.username|title}}<i style="width: 24px;" class="material-icons right">arrow_drop_down</i></a></li>
      {% endif %}
    </ul>
    {% if user.is_authenticated %}
      {% if user.profile.avatar %}
        <img height="44" style="margin-top:10px; border-radius: 50%;" class="right" src="/media/{{user.profile.avatar}}"></img>&nbsp;&nbsp;&nbsp;
      {% endif %}
    {% endif %}
  </div>
</nav>
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
    var el = document.querySelectorAll(".dropdown-trigger");
    M.Dropdown.init(el,{coverTrigger:false, hover: true});
  });
</script>
