
{% load static %}



  <div class="row">
    <div class="col s12">
      <div style="display: flex; align-items: center; margin-top:7px;">
        {% if up.user.profile.avatar %}
          <img src="/media/{{up.user.profile.avatar}}"></img>&nbsp;&nbsp;&nbsp;
        {% endif %}
        <div>
          <p style="font-size: 200%; margin:0px;">{{up.user.username|title}}</p>
        </div>
      </div>
      <br>
      {% for tag in up.user.profile.tags.all %}
      <div class="chip">
        #{{tag.tag}}
      </div>
      {% endfor %}
      <br>
    </div>
  </div>
