<head>
  {% load static %}
  {% load fontawesome_5 %}
  {% fontawesome_5_static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% static 'map/vendors/materialize/css/materialize.css' %}" rel="stylesheet">
  <script src="{% static 'map/vendors/materialize/js/materialize.js' %}"></script>
  <link href="{% static 'map/css/utopia.css' %}" rel="stylesheet">
  <link rel="icon" type="image/png" href="{% static 'map/img/rocket2.ico' %}">
  <title>docutopia</title>

  {% if profile %}
    <meta property="og:image" content="/media/{{profile.profile.avatar}}">
    <meta property="og:description" content="{{profile.profile.text|truncatechars:50}}" />
    <meta property="og:site_name" content="{{profile.username|title}}"/>
  {% endif %}


</head>

<body>

{% include "map/includes/navbar.html" %}

{% include "map/includes/messages.html" %}


  {% block content%}
  {% endblock %}
</body>
