{% extends "map/header.html" %}
{% block content%}

{% load leaflet_tags %}

<head>
    {% leaflet_js %}
    {% leaflet_css %}
</head>
<style>
  #yourmap {
    width: 100%;
    height: calc(100vh - 65px);
  }

  .leaflet-container.crosshair-cursor-enabled {
    cursor:crosshair;
  }

  .extra-marker.extra-marker-svg i {
    width: 36px !important;
  }

  .text-white {
    color: #fff;
  }

  .leaflet-control-layers-expanded, .leaflet-control-layers{
    background-color: #795548;
    border: 2px solid #795548 !important;
    margin-bottom: calc(50vh - 82px) !important;
    margin-left: 0 !important;
    border-radius: 0px 5px 5px 0px !important;
  }

</style>
<body>
    {% leaflet_map "yourmap" %}
    <div class="fixed-action-btn">
      <a class="btn-floating btn-large brown">
        <i class="large material-icons">add</i>
      </a>
      <ul>
        {% if user.is_authenticated %}
        <li><a class="btn-floating red darken-3" title="Share my Position" onclick="selectUserPosition()"><i style="font-size: 18px;" class="fa fa-user"></i></a></li>
        {% endif %}
        <li><a class="btn-floating yellow darken-3" title="New Event" onclick="selectEventPosition()"><i style="font-size: 18px;" class="fa fa-calendar-alt"></i></a></li>
        <li><a class="btn-floating green darken-3" title="New Place" onclick="selectPlacePosition()"><i class="material-icons">location_on</i></a></li>
        <!-- <li><a class="btn-floating blue darken-3" title="New Small Ad"><i class="material-icons">local_offer</i></a></li> -->
      </ul>
    </div>
</body>
<script>

    // -- init map --

    var map = null;
    var new_popup = L.popup({minWidth: 300, closeOnClick: false, keepInView: false});
    var edit_popup = L.popup({offset: [1,-25], minWidth: 300, keepInView: true});
    var current_popup_event;
    var event_layer = L.layerGroup();
    var place_layer = L.layerGroup();
    var position_layer = L.layerGroup();
    var events = JSON.parse("{{events|escapejs}}");
    var places = JSON.parse("{{places|escapejs}}");
  //  var profiles = JSON.parse("{{profiles|escapejs}}");
    var tags = JSON.parse("{{tags|escapejs}}");
    console.log(tags);

    var yellowMarker = L.ExtraMarkers.icon({
      icon: 'fa-calendar-alt',
      markerColor: '#f9a825',
      shape: 'circle',
      prefix: 'fa',
      svg: true
    });
    var greenMarker = L.ExtraMarkers.icon({
      icon: 'fa-circle',
      markerColor: '#2E7D32',
      shape: 'circle',
      prefix: 'fa',
      svg: true
    });
    var redMarker = L.ExtraMarkers.icon({
      icon: 'fa-user',
      markerColor: '#C62828',
      shape: 'circle',
      prefix: 'fa',
      svg: true
    });

    // -- place markers in layers

    window.addEventListener("map:init", function (e) {
        map = e.detail.map;
        events.forEach((item, i) => {
          var marker = L.marker([item.fields.lat, item.fields.lon],{icon: yellowMarker}).bindPopup(`{% include "map/includes/popups/event.html" %}`, {minWidth: 300}).addTo(event_layer);
          item.marker = marker;
        });
        places.forEach((item, i) => {
          var marker = L.marker([item.fields.lat, item.fields.lon],{icon: greenMarker}).bindPopup(`{% include "map/includes/popups/place.html" %}`, {minWidth: 300}).addTo(event_layer);
          item.marker = marker;
        });
        {% for up in user_profiles %}
          {% if up.lat %}
            L.marker([{{up.lat}}, {{up.lon}}],{icon: redMarker}).bindPopup(`{% include "map/includes/popups/profile.html" %}`, {minWidth: 300}).addTo(position_layer);
          {% endif %}
        {% endfor %}

        console.log(events);

        map.on('popupopen', function(e) {
          // -- init popup popdowns
          var el = document.querySelectorAll(".popup-dropdown-trigger");
          M.Dropdown.init(el,{coverTrigger:false, hover: false, constrainWidth: false});
          // -- cache popup-data
          current_popup_event = e;

          console.log(current_popup_event);
        });


    // -- add layers to map

        event_layer.addTo(map);
        place_layer.addTo(map);
        position_layer.addTo(map);

        var overlayMaps = {
          "Events": event_layer,
          "Places": place_layer,
          "Folks": position_layer,
        };

        layercontrol = L.control.layers(null, overlayMaps, {collapsed:false, position: "bottomleft"}).addTo(map);
        layercontrol.getContainer().childNodes[1].childNodes[2].childNodes.forEach((item, i) => {
          L.DomUtil.addClass(item.childNodes[0].childNodes[0],'reset-checkbox');
          L.DomUtil.addClass(item.childNodes[0].childNodes[1],'text-white')
        });

    }, false);

    // -- new event --

    function selectEventPosition() {
      M.toast({html: "Select Position!", classes: 'brown rounded', displayLength:4000});
      L.DomUtil.addClass(map._container,'crosshair-cursor-enabled');
      map.on('click', newEventPopUp);
    }

    function newEventPopUp(e) {
      L.DomUtil.removeClass(map._container,'crosshair-cursor-enabled');
      map.off('click');
      let event= {}
      new_popup
        .setLatLng(e.latlng)
        .setContent(`{% include "map/includes/popups/new_event.html" %}`)
        .openOn(map);
      document.getElementById("lat").value = e.latlng.lat.toFixed(6);
      document.getElementById("lon").value = e.latlng.lng.toFixed(6);
      initDatepicker();
    }

    function editEvent() {
      current_popup_event.popup.remove();
      var event = events.filter(evt => {
        return evt.marker == current_popup_event.popup._source;
      })
      event=event[0];

      edit_popup
        .setLatLng(L.latLng(event.fields.lat,event.fields.lon))
        .setContent(`{% include "map/includes/popups/new_event.html" %}`)
        .openOn(map);
      document.getElementById("id_title").value = event.fields.title;
      document.getElementById("id_text").value = event.fields.text;
      document.getElementById("id_date_start").value = new Date(event.fields.date_start).toISOString().substring(0, 10);
      document.getElementById("id_date_end").value = new Date(event.fields.date_end).toISOString().substring(0, 10);
      event.fields.tags.forEach((item, i) => {
        document.getElementById(`id_tags_${item-1}`).setAttribute("checked", "");
      });
      document.getElementById("lat").value = event.fields.lat.toFixed(6);
      document.getElementById("lon").value = event.fields.lon.toFixed(6);
      document.getElementById("event_id").value = event.pk;


      initDatepicker();
      M.textareaAutoResize(document.getElementById("id_text"));
    }
    // -- new place --

    function selectPlacePosition() {
      M.toast({html: "Select Position!", classes: 'brown rounded', displayLength:4000});
      L.DomUtil.addClass(map._container,'crosshair-cursor-enabled');
      map.on('click', newPlacePopUp);
    }

    function newPlacePopUp(e) {
      L.DomUtil.removeClass(map._container,'crosshair-cursor-enabled');
      map.off('click');
      position= e.latlng;
      new_popup
        .setLatLng(e.latlng)
        .setContent(`{% include "map/includes/popups/new_place.html" %}`)
        .openOn(map);
      document.getElementById("lat").value = e.latlng.lat.toFixed(6);
      document.getElementById("lon").value = e.latlng.lng.toFixed(6);
    }

    function editPlace(e) {
      current_popup_event.popup.remove();
      var place = places.filter(pla => {
        return pla.marker == current_popup_event.popup._source;
      })
      place=place[0];

      edit_popup
        .setLatLng(L.latLng(place.fields.lat, place.fields.lon))
        .setContent(`{% include "map/includes/popups/new_place.html" %}`)
        .openOn(map);
      document.getElementById("id_title").value = place.fields.title;
      document.getElementById("id_text").value = place.fields.text;
      place.fields.tags.forEach((item, i) => {
        document.getElementById(`id_tags_${item-1}`).setAttribute("checked", "");
      });
      document.getElementById("lat").value = place.fields.lat.toFixed(6);
      document.getElementById("lon").value = place.fields.lon.toFixed(6);
      document.getElementById("place_id").value = place.pk;

      M.textareaAutoResize(document.getElementById("id_text"));
    }

    // -- new user position ---

    function selectUserPosition() {
      M.toast({html: "Select Position!", classes: 'brown rounded', displayLength:4000});
      L.DomUtil.addClass(map._container,'crosshair-cursor-enabled');
      map.on('click', postUserPosition);
    }

    function postUserPosition(e) {
      L.DomUtil.removeClass(map._container,'crosshair-cursor-enabled');
      map.off('click');
      var url = "/";
      var params = `lat=${e.latlng.lat.toFixed(6)}&lng=${e.latlng.lng.toFixed(6)}&type=user_position&csrfmiddlewaretoken={{ csrf_token }}`;
      var xhr = new XMLHttpRequest();
      xhr.open("POST", url, true);

      //Send the proper header information along with the request
      xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      xhr.addEventListener("load", complete);
      xhr.addEventListener("error", failed);
      xhr.send(params);
      }
       function complete(evt) {
           location.reload();
       }
       function failed(evt) {
          M.toast({html: "An error occurred while sending your position", classes: 'red rounded', displayLength:4000});
       }


    function getTagText(id) {
      var tag = tags.filter(item => {
              return item.pk == id;
            })
      return tag[0].fields.tag;
    }


    // ----- init materialize buttons ----- \\

    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.fixed-action-btn');
      var instances = M.FloatingActionButton.init(elems);
    });

    function initDatepicker() {
      var elems = document.querySelectorAll(".datepicker");
      var instances = M.Datepicker.init(elems, {container: "body", autoClose: true, format: 'yyyy-mm-dd'});
    }

</script>
{% endblock %}
