{% extends "map/header.html" %}
{% load static %}

{% block content%}
  <div class="container">
    <div class="row">
      <div class="col s12 m6 l6">
        <div style="display: flex; align-items: center; margin-top:7px;">
          {% if profile.profile.avatar %}
            <img id="nav-avatar" style="border-radius: 50%;" class="right" src="/media/{{profile.profile.avatar}}"></img>&nbsp;&nbsp;&nbsp;
          {% endif %}
          <p style="font-size: 240%;">{{profile.username|title}}</p>
        </div>
      </div>
      <div class="col s12 m6">
        <br><br>

        <!-- <img height="50" src="{% static 'map/img/badges1.png' %}"></img>
        <img height="50" src="{% static 'map/img/badges2.png' %}"></img>
        <img height="50" src="{% static 'map/img/badges3.png' %}"></img>
        <img height="50" src="{% static 'map/img/badges4.png' %}"></img>
        <img height="50" src="{% static 'map/img/badges5.png' %}"></img>
        <img height="50" src="{% static 'map/img/badges6.png' %}"></img> -->
      </div>
    </div>
    <div class="row">
      <div style="white-space: pre-line" class="col s12 m12 l12">
        {{profile.profile.text}}
      </div>
      <!--<div class="col s12 m6 l6">
        {% for tag in user.profile.tags.all %}
        <div class="chip">
          {{tag.tag}}
        </div>
        {% endfor %}
        <br>
      </div>-->
    </div>
  </div>
{% endblock %}
